$accent-color: #4629ee;
$border-radius: 15px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #333;
}

main {
  margin-bottom: 5rem;
}

.form-container {
  border: 3px solid $accent-color;
  width: 90vw;
  max-width: 500px;
  border-radius: $border-radius;
  margin: 1rem auto 0 auto;
}

.greeting {
  font-size: 2.5rem;
  margin: 1.5rem 0 1rem 0;
  line-height: 100%;
}

.day-of-week {
  width: 90vw;
  max-width: 500px;
  height: 100px;
  background: $accent-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  font-size: 1.5rem;
  border-radius: $border-radius;
  opacity: 0;
  transition: opacity 300ms linear;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 220px;
  opacity: 0;
  transition: opacity 300ms linear;
  padding: 2rem 0;
}

#heading {
  margin-bottom: 1rem;
}

.movie-container,
.song-container {
  opacity: 0;
  transition: opacity 300ms linear;
}

.movie-title,
.song-title {
  margin: 2rem auto 1rem auto;
  font-weight: normal;
  font-size: 1rem;
}

.movie,
.song {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.25rem auto;
  color: $accent-color;
}

iframe {
  border-radius: $border-radius;
  width: 80vw;
  max-width: 500px;
}

form {
  max-width: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3rem auto;
}

select,
input {
  padding: 10px;
  height: 40px;
  background: #f4f4f4;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin: 5px 3px;
  flex: auto;
}

input[type='submit'] {
  width: 100%;
  background: $accent-color;
  color: white;
  height: 50px;
  cursor: pointer;
  border-radius: $border-radius;
}

.info {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 99vw;
  max-width: 500px;
}

li {
  list-style: none;
  margin: 0.3rem;
  font-size: 1.2rem;
  border: 3px solid $accent-color;
  border-radius: $border-radius;
  padding: 10px;
  text-align: center;
}

button {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  iframe {
    height: 200px;
  }
}
